# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
myenv/
env/
.venv/

# IDE files
.vscode/
.idea/

# OS files
Thumbs.db
.DS_Store

# Log files
*.log

# Environment files
*.env
.env

# Byte-compiled
*.egg-info/

